body {
    background-color: black;
    color: #00ff00; 
    font-family: monospace;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #111;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #00ff00;
}

#lista-usuarios {
    margin-top: 20px;
    font-size: 20px;
}

button {
    background-color: #111;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px 15px;
    cursor: pointer;
    font-family: monospace;
    transition: box-shadow 0.3s ease-in-out; /*Aqui professor, fizem*/
}

button:hover {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

.botao_sair {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.scanner {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, #00ff00, transparent);
    opacity: 0.2;
    animation: passarLuz 3s linear infinite;
    pointer-events: none; /* deixa clicável os elementos por baixo */
    z-index: 9999;
}

@keyframes passarLuz {
    0% {
        top: -100px;
    }
    100% {
        top: 100%;
    }
}